* {
  box-sizing: border-box;
}

div {
  border-style: dashed;   /*tirar depois*/
  margin-top: 88px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 137px;  
  width: 800px;
}

img{
  width: 800px;
}

#heart {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}